# Grouping a Dataset

Similiar to pivot tables in Excel, Pandas can also aggregate/summarise datasets quickly.

## The Dataset...

The data used in these examples is dummy data.

It is developed from a combination of Wikipedia pages and random generated numbers.

Wiki Pages:

#### Products

- https://en.wikipedia.org/wiki/List_of_culinary_fruits
- https://en.wikipedia.org/wiki/List_of_vegetables

#### Store Names (random suburbs in Sydney)

- https://en.wikipedia.org/wiki/List_of_Sydney_suburbs

In [1]:
# Import the dependencies

import pandas as pd
import numpy as np

import warnings
warnings.simplefilter('ignore')

In [2]:
# Import the dataset

sales_data = pd.read_excel(r'../Data/SalesDataset.xlsx')

# Quick view of the data "The Head"
sales_data.head()

,Date,Campaign_ID,Customer_Group,Store_ID,Store_Name,Product_Category,Product_Group,Product,Product_ID,Units,Gross_Sales,Discount
0,31/12/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Hydnora abyssinica,1100057,990,29.70,0.500000
1,30/04/2020,NaN,Super Super Market,1012,Bardia,Fruit,Tropical Fruit,Salak,1100094,630,0.00,0.498927
2,31/07/2020,NaN,Market,3000,Blackett,Fruit,Tropical Fruit,Kola nut,1100062,671,1241.35,0.494303
3,31/10/2020,NaN,A Market That's Super,2011,Bilgola Beach,Fruit,Tropical Fruit,Jackfruit,1100060,611,1283.10,0.493447
4,31/10/2020,NaN,A Market That's Super,2006,Beverly Hills,Fruit,Tropical Fruit,Terap,1100107,684,1026.00,0.492293

## Where do we start? What questions do we have?



  
- Total sales for Customer Groups
    - How many records contribute to that?
    - What's the average sales?
    
  
- Total sales for Customer Groups AND Product Groups (slice and dice)

- How many measures can we create at once?

In [3]:
# Total Sales for the Customer Groups

CG_Sales = sales_data.groupby(['Customer_Group']).sum().sort_values(by=['Gross_Sales'], ascending=False)
CG_Sales = CG_Sales['Gross_Sales']
CG_Sales.to_frame().style.format("${0:,.0f}")

In [4]:
# How many records for each Customer Group

no_records = sales_data.groupby(['Customer_Group']).count().sort_values(by=['Gross_Sales'], ascending=False)
no_records['Gross_Sales'].to_frame().style.format("${0:,.0f}")

In [5]:
# What is the average Gross Sale Amount for Customer Groups?

no_records = sales_data.groupby(['Customer_Group']).mean().sort_values(by=['Gross_Sales'], ascending=False)
no_records['Gross_Sales'].to_frame().style.format("${0:,.0f}")

In [6]:
# Let's see this all together

all_together = sales_data.groupby(['Customer_Group']).agg({'Gross_Sales':['sum', 'count', 'mean']})
all_together.style.format("${0:,.0f}")

In [7]:
# Is the mean true?

all_together['manual mean'] = all_together['Gross_Sales']['sum'] / all_together['Gross_Sales']['count']
all_together.style.format("${0:,.0f}")

In [8]:
# Lets pretend that "Tropical Fruits" have errors in the data, so we need to quickly disclude them and find the total sales

sales_no_tropical = sales_data[sales_data['Product_Group'] != 'Tropical Fruit'].groupby('Customer_Group').sum().sort_values(by=['Gross_Sales'], ascending=False)
sales_no_tropical['Gross_Sales'].to_frame().style.format("${0:,.0f}")

In [9]:
# Sum of product group sales by customer group?

CG_PG = sales_data.groupby(['Customer_Group', 'Product_Group']).sum()
CG_PG['Gross_Sales']

Customer_Group         Product_Group
A Market That's Super  Berries                         1068884.10
                       Bulb and stem vegetables         385332.09
                       Citruses                         629940.80
                       Drupes                          1272012.28
                       Leafy and salad vegetables       878275.94
                       Melons                           138072.17
                       Pomes                            177985.17
                       Root and tuberous vegetables     465112.93
                       Tropical Fruit                  1272088.51
Market                 Berries                          351306.18
                       Bulb and stem vegetables         105485.21
                       Citruses                         145633.77
                       Drupes                           389680.53
                       Leafy and salad vegetables       200295.92
                       Melons                            65169.59
                       Pomes                             50360.95
                       Root and tuberous vegetables     245922.97
                       Tropical Fruit                   429983.24
Not So Super Market    Berries                          664493.85
                       Bulb and stem vegetables         234640.39
                       Citruses                         494709.07
                       Drupes                           943326.37
                       Leafy and salad vegetables       517790.23
                       Melons                            78362.35
                       Pomes                             93852.86
                       Root and tuberous vegetables     361766.99
                       Tropical Fruit                   817913.44
Super Super Market     Berries                         1249360.14
                       Bulb and stem vegetables         444775.53
                       Citruses                         722697.45
                       Drupes                          1734675.61
                       Leafy and salad vegetables       917820.00
                       Melons                           169640.46
                       Pomes                            287145.52
                       Root and tuberous vegetables     680800.66
                       Tropical Fruit                  1485926.56
Name: Gross_Sales, dtype: float64

In [10]:
# Above doesn't look neat and we lose the dataframe.. So we need to reset the index...

CG_PG.reset_index(inplace=True)
CG_PG = CG_PG[['Customer_Group', 'Product_Group', 'Gross_Sales']]
CG_PG

           Customer_Group                 Product_Group  Gross_Sales
0   A Market That's Super                       Berries   1068884.10
1   A Market That's Super      Bulb and stem vegetables    385332.09
2   A Market That's Super                      Citruses    629940.80
3   A Market That's Super                        Drupes   1272012.28
4   A Market That's Super    Leafy and salad vegetables    878275.94
5   A Market That's Super                        Melons    138072.17
6   A Market That's Super                         Pomes    177985.17
7   A Market That's Super  Root and tuberous vegetables    465112.93
8   A Market That's Super                Tropical Fruit   1272088.51
9                  Market                       Berries    351306.18
10                 Market      Bulb and stem vegetables    105485.21
11                 Market                      Citruses    145633.77
12                 Market                        Drupes    389680.53
13                 Market    Leafy and salad vegetables    200295.92
14                 Market                        Melons     65169.59
15                 Market                         Pomes     50360.95
16                 Market  Root and tuberous vegetables    245922.97
17                 Market                Tropical Fruit    429983.24
18    Not So Super Market                       Berries    664493.85
19    Not So Super Market      Bulb and stem vegetables    234640.39
20    Not So Super Market                      Citruses    494709.07
21    Not So Super Market                        Drupes    943326.37
22    Not So Super Market    Leafy and salad vegetables    517790.23
23    Not So Super Market                        Melons     78362.35
24    Not So Super Market                         Pomes     93852.86
25    Not So Super Market  Root and tuberous vegetables    361766.99
26    Not So Super Market                Tropical Fruit    817913.44
27     Super Super Market                       Berries   1249360.14
28     Super Super Market      Bulb and stem vegetables    444775.53
29     Super Super Market                      Citruses    722697.45
30     Super Super Market                        Drupes   1734675.61
31     Super Super Market    Leafy and salad vegetables    917820.00
32     Super Super Market                        Melons    169640.46
33     Super Super Market                         Pomes    287145.52
34     Super Super Market  Root and tuberous vegetables    680800.66
35     Super Super Market                Tropical Fruit   1485926.56

In [11]:
# And Units?

CG_PG = sales_data.groupby(['Customer_Group', 'Product_Group'])[['Gross_Sales','Units']].sum()
CG_PG

                                                    Gross_Sales   Units
Customer_Group        Product_Group
A Market That's Super Berries                        1068884.10  524458
                      Bulb and stem vegetables        385332.09  120493
                      Citruses                        629940.80  261557
                      Drupes                         1272012.28  431718
                      Leafy and salad vegetables      878275.94  359414
                      Melons                          138072.17   75276
                      Pomes                           177985.17  102262
                      Root and tuberous vegetables    465112.93  196428
                      Tropical Fruit                 1272088.51  535540
Market                Berries                         351306.18  174938
                      Bulb and stem vegetables        105485.21   30198
                      Citruses                        145633.77   71874
                      Drupes                          389680.53  138596
                      Leafy and salad vegetables      200295.92  108487
                      Melons                           65169.59   29640
                      Pomes                            50360.95   35204
                      Root and tuberous vegetables    245922.97   84548
                      Tropical Fruit                  429983.24  166528
Not So Super Market   Berries                         664493.85  331388
                      Bulb and stem vegetables        234640.39   76218
                      Citruses                        494709.07  174232
                      Drupes                          943326.37  312982
                      Leafy and salad vegetables      517790.23  242614
                      Melons                           78362.35   46695
                      Pomes                            93852.86   59878
                      Root and tuberous vegetables    361766.99  141062
                      Tropical Fruit                  817913.44  332644
Super Super Market    Berries                        1249360.14  630282
                      Bulb and stem vegetables        444775.53  149487
                      Citruses                        722697.45  305517
                      Drupes                         1734675.61  573789
                      Leafy and salad vegetables      917820.00  425708
                      Melons                          169640.46   99518
                      Pomes                           287145.52  141061
                      Root and tuberous vegetables    680800.66  257109
                      Tropical Fruit                 1485926.56  629007

## More Advanced

Get lots of different measures at once for Sales and Units

In [12]:
big_table = sales_data.groupby(['Customer_Group', 'Product_Group']).agg(
{
    'Gross_Sales':['mean', 'count', 'sum', 'median', 'min', 'max'],
    'Units': ['mean', 'count', 'sum', 'median', 'min', 'max']
})

big_table

                                                    Gross_Sales        \
                                                           mean count
Customer_Group        Product_Group
A Market That's Super Berries                       1256.033020   851
                      Bulb and stem vegetables      1996.539326   193
                      Citruses                      1521.596135   414
                      Drupes                        1781.529804   714
                      Leafy and salad vegetables    1532.767784   573
                      Melons                        1131.739098   122
                      Pomes                         1065.779461   167
                      Root and tuberous vegetables  1413.717112   329
                      Tropical Fruit                1419.741641   896
Market                Berries                       1151.823541   305
                      Bulb and stem vegetables      1990.286981    53
                      Citruses                      1193.719426   122
                      Drupes                        1739.645223   224
                      Leafy and salad vegetables    1088.564783   184
                      Melons                        1481.127045    44
                      Pomes                          899.302679    56
                      Root and tuberous vegetables  1863.052803   132
                      Tropical Fruit                1586.654022   271
Not So Super Market   Berries                       1155.641478   575
                      Bulb and stem vegetables      1923.281885   122
                      Citruses                      1805.507555   274
                      Drupes                        1853.293458   509
                      Leafy and salad vegetables    1359.029475   381
                      Melons                        1004.645513    78
                      Pomes                          948.008687    99
                      Root and tuberous vegetables  1600.738894   226
                      Tropical Fruit                1523.116276   537
Super Super Market    Berries                       1186.476866  1053
                      Bulb and stem vegetables      1917.135905   232
                      Citruses                      1417.053824   510
                      Drupes                        1867.250388   929
                      Leafy and salad vegetables    1292.704225   710
                      Melons                        1034.393049   164
                      Pomes                         1248.458783   230
                      Root and tuberous vegetables  1632.615492   417
                      Tropical Fruit                1407.127424  1056

                                                                          \
                                                           sum    median
Customer_Group        Product_Group
A Market That's Super Berries                       1068884.10   677.160
                      Bulb and stem vegetables       385332.09  1411.680
                      Citruses                       629940.80   491.630
                      Drupes                        1272012.28   952.490
                      Leafy and salad vegetables     878275.94   673.200
                      Melons                         138072.17   266.220
                      Pomes                          177985.17   413.270
                      Root and tuberous vegetables   465112.93   518.300
                      Tropical Fruit                1272088.51   643.865
Market                Berries                        351306.18   539.010
                      Bulb and stem vegetables       105485.21  1539.900
                      Citruses                       145633.77   378.485
                      Drupes                         389680.53   819.795
                      Leafy and salad vegetables     200295.92   473.820
                      Melons                          65169.59   352.320
                      Pomes                           50360.95   370.000
                      Root and tuberous vegetables   245922.97   791.670
                      Tropical Fruit                 429983.24   660.570
Not So Super Market   Berries                        664493.85   478.560
                      Bulb and stem vegetables       234640.39  1420.325
                      Citruses                       494709.07   740.170
                      Drupes                         943326.37   970.920
                      Leafy and salad vegetables     517790.23   704.370
                      Melons                          78362.35   228.000
                      Pomes                           93852.86   263.160
                      Root and tuberous vegetables   361766.99   689.440
                      Tropical Fruit                 817913.44   691.200
Super Super Market    Berries                       1249360.14   592.150
                      Bulb and stem vegetables       444775.53  1349.860
                      Citruses                       722697.45   431.480
                      Drupes                        1734675.61   912.640
                      Leafy and salad vegetables     917820.00   532.995
                      Melons                         169640.46   274.290
                      Pomes                          287145.52   492.750
                      Root and tuberous vegetables   680800.66   753.940
                      Tropical Fruit                1485926.56   621.665

                                                                     \
                                                       min      max
Customer_Group        Product_Group
A Market That's Super Berries                          0.0  8432.64
                      Bulb and stem vegetables         0.0  7676.90
                      Citruses                         0.0  9368.55
                      Drupes                           0.0  9397.98
                      Leafy and salad vegetables       0.0  9088.20
                      Melons                           0.0  7355.18
                      Pomes                            0.0  6522.65
                      Root and tuberous vegetables     0.0  9444.60
                      Tropical Fruit                   0.0  9662.25
Market                Berries                          0.0  7600.20
                      Bulb and stem vegetables         0.0  6706.70
                      Citruses                         0.0  6872.37
                      Drupes                           0.0  9493.78
                      Leafy and salad vegetables       0.0  8627.10
                      Melons                           0.0  7490.00
                      Pomes                            0.0  6160.66
                      Root and tuberous vegetables     0.0  8681.40
                      Tropical Fruit                   0.0  8232.00
Not So Super Market   Berries                      -5270.0  8483.00
                      Bulb and stem vegetables         0.0  7207.20
                      Citruses                         0.0  9643.23
                      Drupes                           0.0  9552.00
                      Leafy and salad vegetables       0.0  9115.74
                      Melons                           0.0  7145.46
                      Pomes                            0.0  6174.32
                      Root and tuberous vegetables     0.0  8681.40
                      Tropical Fruit                   0.0  9496.20
Super Super Market    Berries                          0.0  8500.00
                      Bulb and stem vegetables         0.0  7676.90
                      Citruses                         0.0  9545.13
                      Drupes                           0.0  9552.00
                      Leafy and salad vegetables       0.0  8941.32
                      Melons                           0.0  7445.06
                      Pomes                            0.0  6707.06
                      Root and tuberous vegetables     0.0  9501.84
                      Tropical Fruit                   0.0  9860.45

                                                         Units                \
                                                          mean count     sum
Customer_Group        Product_Group
A Market That's Super Berries                       616.284371   851  524458
                      Bulb and stem vegetables      624.316062   193  120493
                      Citruses                      631.780193   414  261557
                      Drupes                        604.647059   714  431718
                      Leafy and salad vegetables    627.249564   573  359414
                      Melons                        617.016393   122   75276
                      Pomes                         612.347305   167  102262
                      Root and tuberous vegetables  597.045593   329  196428
                      Tropical Fruit                597.700893   896  535540
Market                Berries                       573.567213   305  174938
                      Bulb and stem vegetables      569.773585    53   30198
                      Citruses                      589.131148   122   71874
                      Drupes                        618.732143   224  138596
                      Leafy and salad vegetables    589.603261   184  108487
                      Melons                        673.636364    44   29640
                      Pomes                         628.642857    56   35204
                      Root and tuberous vegetables  640.515152   132   84548
                      Tropical Fruit                614.494465   271  166528
Not So Super Market   Berries                       576.326957   575  331388
                      Bulb and stem vegetables      624.737705   122   76218
                      Citruses                      635.883212   274  174232
                      Drupes                        614.895874   509  312982
                      Leafy and salad vegetables    636.782152   381  242614
                      Melons                        598.653846    78   46695
                      Pomes                         604.828283    99   59878
                      Root and tuberous vegetables  624.168142   226  141062
                      Tropical Fruit                619.448790   537  332644
Super Super Market    Berries                       598.558405  1053  630282
                      Bulb and stem vegetables      644.340517   232  149487
                      Citruses                      599.052941   510  305517
                      Drupes                        617.641550   929  573789
                      Leafy and salad vegetables    599.588732   710  425708
                      Melons                        606.817073   164   99518
                      Pomes                         613.308696   230  141061
                      Root and tuberous vegetables  616.568345   417  257109
                      Tropical Fruit                595.650568  1056  629007


                                                   median   min   max
Customer_Group        Product_Group
A Market That's Super Berries                       807.0     0  1000
                      Bulb and stem vegetables      808.0     4   997
                      Citruses                      804.5     2  1000
                      Drupes                        790.5     0  1000
                      Leafy and salad vegetables    805.0     1  1000
                      Melons                        823.0     0   998
                      Pomes                         810.0     4   996
                      Root and tuberous vegetables  759.0     1   999
                      Tropical Fruit                799.5     0  1000
Market                Berries                       793.0     0  1000
                      Bulb and stem vegetables      813.0     6  1000
                      Citruses                      753.0     3   997
                      Drupes                        815.0     3   998
                      Leafy and salad vegetables    741.0     1   999
                      Melons                        856.5     8  1000
                      Pomes                         809.5    17   996
                      Root and tuberous vegetables  822.5     3  1000
                      Tropical Fruit                806.0     0   998
Not So Super Market   Berries                       734.0 -1000   998
                      Bulb and stem vegetables      773.5    12   997
                      Citruses                      810.0     2   998
                      Drupes                        795.0     1   998
                      Leafy and salad vegetables    802.0     0  1000
                      Melons                        686.0    28   999
                      Pomes                         786.0     3  1000
                      Root and tuberous vegetables  817.0     3   999
                      Tropical Fruit                804.0     0  1000
Super Super Market    Berries                       760.0     0  1000
                      Bulb and stem vegetables      813.0     0   999
                      Citruses                      769.5     0  1000
                      Drupes                        808.0     0  1000
                      Leafy and salad vegetables    776.0     0  1000
                      Melons                        791.5     1   994
                      Pomes                         804.0     1  1000
                      Root and tuberous vegetables  806.0     0  1000
                      Tropical Fruit                800.0     0  1000

In [13]:
sales_data.describe()

,Campaign_ID,Store_ID,Product_ID,Units,Gross_Sales,Discount
count,6.192000e+03,13752.000000,1.375200e+04,13752.000000,13752.00000,13752.000000
mean,3.909561e+06,1522.637944,1.514353e+06,609.100494,1466.78591,0.375934
std,1.451379e+06,668.205012,3.642487e+05,352.775568,1887.12660,0.161313
min,1.000000e+06,1000.000000,1.100000e+06,-1000.000000,-5270.00000,0.000000
25%,3.000000e+06,1012.000000,1.300011e+06,231.000000,79.77000,0.252790
50%,5.000000e+06,1024.000000,1.400038e+06,801.000000,635.14500,0.500000
75%,5.000000e+06,2007.000000,2.000004e+06,902.000000,2182.10000,0.500000
max,5.000000e+06,3004.000000,2.200045e+06,1000.000000,9860.45000,0.500000