# Joining Datasets Together

Similar to SQL we need to append and join datasets together

## The Dataset...

The data used in these examples is dummy data.

It is developed from a combination of Wikipedia pages and random generated numbers.

Wiki Pages:

- https://en.wikipedia.org/wiki/List_of_culinary_fruits
- https://en.wikipedia.org/wiki/List_of_vegetables
- https://en.wikipedia.org/wiki/List_of_streets_in_Perth
- https://en.wikipedia.org/wiki/List_of_Sydney_suburbs

In [1]:
# Import the dependencies

import pandas as pd
import numpy as np

import warnings
warnings.simplefilter('ignore')

In [2]:
# Import the Sales Data

sales_data = pd.read_excel(r'../Data/SalesDataset.xlsx')

# Import historical Sales Data

historical_sales_data = pd.read_excel(r'../Data/SalesDataset_2.xlsx')

# Import Store Mapping

store_mapping = pd.read_excel(r'../Data/Store_Table.xlsx')

## Appending / Concatenating

In [3]:
# Append/Concat 2 datasets together

# Check the original size of the dataset

print(f"There is ",len(sales_data),"rows of data")

There is  13752 rows of data

In [4]:
# Append

append_sales_data = sales_data.append(historical_sales_data)

print(f"There is now ",len(append_sales_data),"rows of data")

There is now  27504 rows of data

In [5]:
# Concat

concat_sales_data = pd.concat([sales_data, historical_sales_data])

print(f"There is now ",len(concat_sales_data),"rows of data")

There is now  27504 rows of data

## Joining

### Left Joins

In [6]:
sales_data.head()

,Date,Campaign_ID,Customer_Group,Store_ID,Store_Name,Product_Category,Product_Group,Product,Product_ID,Units,Gross_Sales,Discount
0,31/12/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Hydnora abyssinica,1100057,990,29.70,0.500000
1,30/04/2020,NaN,Super Super Market,1012,Bardia,Fruit,Tropical Fruit,Salak,1100094,630,0.00,0.498927
2,31/07/2020,NaN,Market,3000,Blackett,Fruit,Tropical Fruit,Kola nut,1100062,671,1241.35,0.494303
3,31/10/2020,NaN,A Market That's Super,2011,Bilgola Beach,Fruit,Tropical Fruit,Jackfruit,1100060,611,1283.10,0.493447
4,31/10/2020,NaN,A Market That's Super,2006,Beverly Hills,Fruit,Tropical Fruit,Terap,1100107,684,1026.00,0.492293

In [7]:
store_mapping.head()

,Store_ID,Store_Name,Square_Metres,Address,Phone_Number,Premium
0,1009,Bankstown Aerodrome,448,80 Cantle Street,90993944,Yes
1,1024,Bellevue Hill,354,35 Carr Street,90993945,Yes
2,1022,Belfield,505,95 Cathedral Avenue,90993949,Yes
3,1008,Bankstown,290,87 Caroline Street,90993959,Yes
4,1018,Beacon Hill,996,94 Causeway Bridge,90993966,Yes

In [8]:
# Get more information about stores in the Sales dataset - join on Store ID

sales_data_store_data = pd.merge(sales_data, store_mapping, how='left', left_on='Store_ID', right_on='Store_ID')

sales_data_store_data.head()

,Date,Campaign_ID,Customer_Group,Store_ID,Store_Name_x,Product_Category,Product_Group,Product,Product_ID,Units,Gross_Sales,Discount,Store_Name_y,Square_Metres,Address,Phone_Number,Premium
0,31/12/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Hydnora abyssinica,1100057,990,29.70,0.500000,Berowra Creek,939,78 Forbes Lane,90994145,No
1,30/04/2020,NaN,Super Super Market,1012,Bardia,Fruit,Tropical Fruit,Salak,1100094,630,0.00,0.498927,Bardia,650,96 Dyer Street,90994075,No
2,31/07/2020,NaN,Market,3000,Blackett,Fruit,Tropical Fruit,Kola nut,1100062,671,1241.35,0.494303,Blackett,468,63 Cliff Street,90994036,No
3,31/10/2020,NaN,A Market That's Super,2011,Bilgola Beach,Fruit,Tropical Fruit,Jackfruit,1100060,611,1283.10,0.493447,Bilgola Beach,804,50 Ellen Street,90994102,No
4,31/10/2020,NaN,A Market That's Super,2006,Beverly Hills,Fruit,Tropical Fruit,Terap,1100107,684,1026.00,0.492293,Beverly Hills,561,65 Chapman Street,90993975,Yes

In [9]:
len(sales_data_store_data)

13752

### Inner Joins

In [10]:
# Filter the store mapping

filtered_store_map = store_mapping[store_mapping["Store_Name"] == "Bankstown Aerodrome"]

filtered_store_map

,Store_ID,Store_Name,Square_Metres,Address,Phone_Number,Premium
0,1009,Bankstown Aerodrome,448,80 Cantle Street,90993944,Yes

In [11]:
inner_sales_data_store_data = pd.merge(sales_data, filtered_store_map,
                                       how='inner',
                                       left_on='Store_ID',
                                       right_on='Store_ID')

inner_sales_data_store_data.head()

,Date,Campaign_ID,Customer_Group,Store_ID,Store_Name_x,Product_Category,Product_Group,Product,Product_ID,Units,Gross_Sales,Discount,Store_Name_y,Square_Metres,Address,Phone_Number,Premium
0,31/12/2019,1000000.0,Super Super Market,1009,Bankstown Aerodrome,Fruit,Tropical Fruit,Ice-cream bean,1100058,998,0.00,0.500000,Bankstown Aerodrome,448,80 Cantle Street,90993944,Yes
1,31/07/2019,1000000.0,Super Super Market,1009,Bankstown Aerodrome,Fruit,Tropical Fruit,Jackfruit,1100060,905,1900.50,0.500000,Bankstown Aerodrome,448,80 Cantle Street,90993944,Yes
2,31/10/2020,NaN,Super Super Market,1009,Bankstown Aerodrome,Fruit,Tropical Fruit,Noni,1100081,683,2629.55,0.442315,Bankstown Aerodrome,448,80 Cantle Street,90993944,Yes
3,30/11/2020,NaN,Super Super Market,1009,Bankstown Aerodrome,Fruit,Tropical Fruit,South american sapote,1100100,722,7075.60,0.409453,Bankstown Aerodrome,448,80 Cantle Street,90993944,Yes
4,31/10/2020,NaN,Super Super Market,1009,Bankstown Aerodrome,Fruit,Tropical Fruit,Jícara,1100061,560,1870.40,0.376879,Bankstown Aerodrome,448,80 Cantle Street,90993944,Yes

In [12]:
len(inner_sales_data_store_data)

278

In [13]:
outer_sales_data_store_data = pd.merge(sales_data, filtered_store_map,
                                       how='outer',
                                       left_on='Store_ID',
                                       right_on='Store_ID')

outer_sales_data_store_data.head(100)

,Date,Campaign_ID,Customer_Group,Store_ID,Store_Name_x,Product_Category,Product_Group,Product,Product_ID,Units,Gross_Sales,Discount,Store_Name_y,Square_Metres,Address,Phone_Number,Premium
0,31/12/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Hydnora abyssinica,1100057,990,29.70,0.500000,NaN,NaN,NaN,NaN,NaN
1,30/04/2020,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Ice-cream bean,1100058,438,0.00,0.352215,NaN,NaN,NaN,NaN,NaN
2,31/07/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Mammee,1100069,940,3656.60,0.500000,NaN,NaN,NaN,NaN,NaN
3,31/12/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Menteng,1100072,983,6536.95,0.500000,NaN,NaN,NaN,NaN,NaN
4,31/08/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Menteng,1100072,889,5911.85,0.500000,NaN,NaN,NaN,NaN,NaN
5,30/11/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Monkey fruit,1100073,940,2284.20,0.500000,NaN,NaN,NaN,NaN,NaN
6,31/03/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Noni,1100081,825,3176.25,0.500000,NaN,NaN,NaN,NaN,NaN
7,31/01/2020,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Maypop,1100071,62,0.00,0.194802,NaN,NaN,NaN,NaN,NaN
8,31/10/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Persimmon,1100088,904,7060.24,0.500000,NaN,NaN,NaN,NaN,NaN
9,30/11/2020,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Lardizabala,1100065,98,91.14,0.127550,NaN,NaN,NaN,NaN,NaN
10,31/10/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Salak,1100094,941,0.00,0.500000,NaN,NaN,NaN,NaN,NaN
11,30/04/2020,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Hydnora abyssinica,1100057,99,2.97,0.041504,NaN,NaN,NaN,NaN,NaN
12,31/03/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Tamarind,1100106,835,1377.75,0.500000,NaN,NaN,NaN,NaN,NaN
13,31/03/2020,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Melons,European cantaloupe,1200006,607,97.12,0.477606,NaN,NaN,NaN,NaN,NaN
14,31/10/2020,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Cloudberry,1300031,611,5279.04,0.468392,NaN,NaN,NaN,NaN,NaN
15,30/06/2020,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Melons,Crane melon,1200004,694,48.58,0.444848,NaN,NaN,NaN,NaN,NaN
16,30/04/2020,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Achacha,1300000,774,5657.94,0.420910,NaN,NaN,NaN,NaN,NaN
17,31/12/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Ice-cream bean,1100058,799,0.00,0.433438,NaN,NaN,NaN,NaN,NaN
18,30/04/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Red fruit,1100093,652,319.48,0.429455,NaN,NaN,NaN,NaN,NaN
19,31/10/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Pineapple,1100089,616,203.28,0.409257,NaN,NaN,NaN,NaN,NaN
20,29/02/2020,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Black currant,1300014,443,212.64,0.298231,NaN,NaN,NaN,NaN,NaN
21,31/01/2020,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Melons,Horned melon,1200008,21,10.92,0.139096,NaN,NaN,NaN,NaN,NaN
22,31/07/2020,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Bilberry,1300013,23,41.63,0.115133,NaN,NaN,NaN,NaN,NaN
23,31/10/2020,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Coarse dodder-laurel fruit,1300032,75,105.75,0.099621,NaN,NaN,NaN,NaN,NaN
24,31/08/2020,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Coarse dodder-laurel fruit,1300032,52,73.32,0.080864,NaN,NaN,NaN,NaN,NaN
25,30/06/2020,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Boysenberry,1300022,88,210.32,0.026500,NaN,NaN,NaN,NaN,NaN
26,30/06/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Purple mangosteen,1100092,25,133.00,0.047973,NaN,NaN,NaN,NaN,NaN
27,31/12/2020,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Melons,Watermelon,1200015,91,5.46,0.016010,NaN,NaN,NaN,NaN,NaN
28,30/09/2019,1000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Tropical Fruit,Pineapple,1100089,64,21.12,0.030458,NaN,NaN,NaN,NaN,NaN
29,30/09/2020,3000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Hackberry,1300048,945,1493.10,0.500000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,31/01/2020,4000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Citruses,Desert lime,1400013,913,556.93,0.500000,NaN,NaN,NaN,NaN,NaN
71,31/12/2019,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Mora común,1300069,965,4323.20,0.500000,NaN,NaN,NaN,NaN,NaN
72,28/02/2019,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Oregon grape,1300077,879,0.00,0.500000,NaN,NaN,NaN,NaN,NaN
73,29/02/2020,4000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Tamarillo,1300100,755,1208.00,0.482870,NaN,NaN,NaN,NaN,NaN
74,29/02/2020,4000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Wineberry,1300110,715,2960.10,0.469486,NaN,NaN,NaN,NaN,NaN
75,30/04/2019,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Maqui berry,1300065,696,0.00,0.494781,NaN,NaN,NaN,NaN,NaN
76,31/05/2020,4000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Citruses,Amanatsu,1400001,582,180.42,0.346364,NaN,NaN,NaN,NaN,NaN
77,31/05/2020,4000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Citruses,Clementine,1400012,498,4257.90,0.342999,NaN,NaN,NaN,NaN,NaN
78,31/07/2019,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Red mulberry,1300086,691,939.76,0.401303,NaN,NaN,NaN,NaN,NaN
79,31/10/2020,4000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Citruses,Cam sành,1400009,207,784.53,0.252425,NaN,NaN,NaN,NaN,NaN
80,31/10/2019,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Hardy kiwi,1300049,409,335.38,0.314019,NaN,NaN,NaN,NaN,NaN
81,30/06/2020,4000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Citruses,Buddha's hand,1400007,7,58.17,0.151045,NaN,NaN,NaN,NaN,NaN
82,29/02/2020,4000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Citruses,Buddha's hand,1400007,22,182.82,0.150901,NaN,NaN,NaN,NaN,NaN
83,30/04/2020,4000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Citruses,Cam sành,1400009,71,269.09,0.053185,NaN,NaN,NaN,NaN,NaN
84,31/10/2019,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Eastern teaberry,1300041,90,176.40,0.108014,NaN,NaN,NaN,NaN,NaN
85,28/02/2019,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Pentadiplandra brazzeana,1300078,12,49.80,0.060407,NaN,NaN,NaN,NaN,NaN
86,30/11/2019,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Eastern teaberry,1300041,84,164.64,0.010329,NaN,NaN,NaN,NaN,NaN
87,30/11/2020,5000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Citruses,Yuzu,1400054,889,1102.36,0.500000,NaN,NaN,NaN,NaN,NaN
88,31/08/2020,5000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Drupes,Alaskan bunchberry,1500005,855,2949.75,0.500000,NaN,NaN,NaN,NaN,NaN
89,31/05/2020,5000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Drupes,American plum,1500008,815,798.70,0.500000,NaN,NaN,NaN,NaN,NaN
90,31/08/2019,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Tamarillo,1300100,902,1443.20,0.500000,NaN,NaN,NaN,NaN,NaN
91,30/11/2019,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Berries,Thimbleberry,1300103,832,1214.72,0.500000,NaN,NaN,NaN,NaN,NaN
92,31/01/2020,5000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Drupes,Cedar Bay cherry,1500020,896,5626.88,0.500000,NaN,NaN,NaN,NaN,NaN
93,31/07/2020,5000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Drupes,Cherry of the Rio Grande,1500024,905,5321.40,0.500000,NaN,NaN,NaN,NaN,NaN
94,28/02/2019,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Citruses,Calamondin,1400008,937,1499.20,0.500000,NaN,NaN,NaN,NaN,NaN
95,31/03/2020,5000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Drupes,Date,1500035,921,0.00,0.500000,NaN,NaN,NaN,NaN,NaN
96,30/11/2019,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Citruses,Hyuganatsu,1400018,927,1520.28,0.500000,NaN,NaN,NaN,NaN,NaN
97,31/12/2020,5000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Drupes,Flatwoods plum,1500041,999,2417.58,0.500000,NaN,NaN,NaN,NaN,NaN
98,31/07/2020,5000000.0,A Market That's Super,2001,Berowra Creek,Fruit,Drupes,Jambolan,1500048,846,3231.72,0.500000,NaN,NaN,NaN,NaN,NaN
99,31/03/2019,NaN,A Market That's Super,2001,Berowra Creek,Fruit,Citruses,Mangshanyegan,1400032,922,2000.74,0.500000,NaN,NaN,NaN,NaN,NaN

In [14]:
len(outer_sales_data_store_data)

13752